<% provide(:title, "Contact") %> <!--Note that ther should not be space between provide and the left parenthesis-->
<h1>Contact</h1>
<p>
  Contact the Ruby on Rails tutorial about the sample app at the <a href="https://railstutorial.org/contact">Contact Page</a>
</p>